<h2>Register</h2>
<label for="username">Username: </label>
<input 
  type="text" 
  id="username"
  class="form-control"
  required
  minlength="4"
  pattern="[a-zA-Z0-9]*"
  [(ngModel)]="this.username"
  #username="ngModel"
/>
@if (username.invalid) {
  <div class="alert">
    @if (username.hasError('required')) {
      <div>username is required</div>
    } 
    @if (username.hasError('minlength')) {
      <div>username must be at least 4 characters long</div>
    }
    @if (username.hasError('pattern')) {
      <div>username must not have whitespace</div>
    }
  </div>
}
<br>
<label for="password">Password: </label>
<input 
  type="text"
  id="password" 
  class="form-control"
  required
  [(ngModel)]="this.password"
  #password="ngModel"
/>
@if (password.invalid) {
  <div class="alert">
    @if (password.hasError('required')) {
      <div>password is required</div>
    }
  </div>
}
<br>
<label for="email">Email: </label>
<input 
  type="text" 
  id="email" 
  class="form-control"
  required
  email
  [(ngModel)]="this.email"
  #email="ngModel"
/>
@if (email.invalid) {
  <div class="alert">
    @if (email.hasError('required')) {
      <div>email is required</div>
    }
    @if (email.hasError('email')) {
      <div>email has invalid format</div>
    }
  </div>
}
<br>
<button 
  (click)="submitRegistrationForm()"
  class="form-control"
  [disabled]="username.invalid || email.invalid || password.invalid"
>Register</button>
@if(username.invalid || email.invalid || password.invalid) {
  <div class="alert">One or more fields is invalid, see above</div>
}

<div>{{registrationResult()}}</div>